body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
h1{
    font-size: 70px;
    font-weight: 400;
    font-family: 'Bebas Neue', cursive;
}
h2{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Bebas Neue', cursive;
}
.header-highlight{
    color: #363958;
}
.text-highlight{
    color: salmon;
}
.blog{
    color: #3e3e3e;
    font-weight: 400;
    margin-top: -50px;
}
.link-button{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(salmon,tomato);
    padding: 15px 50px;
    border-radius: 5px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
section{
    height: 500px;
    
}
#download-logo{
    width: 5%;
    padding-top: 50px;
}
.latest-projct{
    background-color: #e5e5e5;
    height: 800px;
    padding-left: 10%;
}
#alignment{
    padding-left: 36%;
    padding-top: 100px;
    padding-bottom: 30px;
}
.one-third{
    width: 25%;
    float: left;
    margin-left: 50px;
    
}
.one-third img{
    width: 100%;
}
.single-project{
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    height: 37%;
    background-color: white;
    padding: 1%;
    text-align: justify;
}.inquiry-banner{
    height: 500px;
}
.align-inquiry-banner{
    background-image: url("images/inquiry-bg.png");
    width: 85%;
    height: 50%;
    border-radius: 40px;
    background-repeat: no-repeat;
    margin: 100px;
    background-size: cover;
    background-position: center;
}
#white-highlight{
    color: white;
    font-size: 40px;
    margin-left: 10%;
    padding-top: 12%;
}
#right-align{
    float: right;
    padding-top: 9%;
}
footer{
    text-align: center;
    margin-top: -125px;
}
#stay-connected{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    font-weight: 600;
    color: #696871;
}
#mail{
    font-weight: 700;
    font-size: 30px;
    margin-top: -15px;
    color: #363958;
}
.icon-size{
    height: 30px;
    width: 30px;
    padding-right: 20px;
    margin-top: -15px;
}
#menubar{
    text-align: right;
    padding-right: 5%;
    font-weight: 600;
    font-size: 16px;
    color: #3C3C3C;
    text-decoration: none;
}
.menu-gap{
    margin-left: 30px;
}